.btn {
    font-size: 17px;
    font-weight: 600; 
    border-radius: 8px;
    margin: 3px 10px 3px 0px;
}
.btn:hover {
    background-color: none;
    border-color: none;   
}
.btn:focus { 
    box-shadow: none;
}


.btn-main {
    color: var(--color-white);
    background-color: var(--main-color);
    border-color: 0 0 0 0.1rem var(--main-color);
}
.btn-main:hover {
    color: var(--color-white);
    background-color: var(--main-color-opacity);
    border-color: 0 0 0 0.1rem var(--main-color-opacity);   
}
.btn-main:focus { 
    box-shadow: 0 0 0 0.1rem var(--main-color-opacity);
}


.btn-cancel {
    color: var(--cancel-and-alert-text-color);
    background-color: var(--color-white);
    border-color: var(--color-gray);
}
.btn-cancel:hover {
    color: var(--color-black);
    background-color: var(--color-gray);
    border-color: 0 0 0 0.1rem var(--color-gray);
}
.btn-cancel:focus {
    border-color: 0 0 0 0.1rem var(--color-gray);
    box-shadow: 0 0 0 0.1rem var(--color-gray);
}


.btn-light-gray {
    color: var(--main-color);
    background-color: var(--color-white);
    border-color: var(--color-gray);
}.btn-light-gray:hover {
    color: var(--color-black);
    background-color: var(--color-gray);
    border-color: none;
}


.btn-main-light {
    color: var(--main-color);
    background-color: var(--color-white);
    border-color: none;
}
.btn-main-light:hover {
    color: var(--main-color);
    background-color: var(--color-white);
    border-color: none;
}

.btn-footer {
    width: 6.1875em;
    height: 2.5em;
    margin-left: 0px;
    margin-right: 10px;
}

.btn-example-counters {
    background-color: var(--color-gray);
    border-radius: 20px;
    margin: 10px 10px 10px 0px;
}

.btn-welcome {
    width: 136px;
    height: 40px;
}

.btn-modalClose {
    float:left; 
}

.btn-delete {
    color: var(--color-red)
}


@media (max-width: 320px) { 
    .btn-footer {
        width: 71px;
        height: 40px;
    }
}

@media (min-width: 321px) and (max-width: 425px) { 
    .btn-footer {
        width: 81px;
        height: 40px;
    }
}

