.no-counters, .no-connection {
    margin-top: 50%;
}

@media (min-width: 769px) { 
    .container-counters {
        max-width: 60%;
    } 
    .counters {
        flex-wrap: wrap; 
        display: flex;
        justify-content: center;
    }
    .no-counters, .no-connection {
        margin-top: 30%;
    }
}