.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    z-index: 999;
    background-color: var(--color-white);  
    border-top: 1px solid var(--color-gray);
    padding: 10px;
}
.align-right {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end;
}
.p-sticky {
    position: sticky;
}

@media (max-width: 425px) { 
    .footer {
        min-height: 40px;
    }
}
@media (min-width: 769px) { 
    .footer {
        flex-wrap: wrap; 
        display: flex;
        justify-content: center;
    }
    .container-footer {
        max-width: 60%;
    }
}
